$font: 'Rubik', sans-serif;
$font-logo: 'Sahitya', serif;
$font-size: 21px;
$color-text: #FFFFFF;
$color-background: #336652;

/* responsive - iphone 11 pro max */
$moblie-width: 414px;
$mobile-font-size: 12px;